<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="pushList"></div>
    <audio src="/audio/chime.mp3" id="audio"></audio>
    <script type="text/javascript">
        var socketurl = "<%= socketurl %>";
    </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/push.js"></script>
    <script type="text/javascript" src="/javascripts/push_init.js"></script>
    <script type="text/javascript" src="/javascripts/push_receiver.js"></script>
  </body>
</html>
